/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --font-family: 'Courier', monospace;
  --font-size: 12pt;
  --primary-color: chartreuse;
  --animation-duration: 3s;
}

/* Body */
body {
  margin: 0;
}

/* Button */
button {
  font-family: var(--font-family);
  font-size: var(--font-size);
  text-align: center;
  z-index: 1;
}

/* Overlay */
.div-overlay {
  width: 100%;
  position: absolute;
  display: block;
  z-index: 99;
  top: 60%;
  text-align: center;
}

/* Text Format */
.text-format {
  color: var(--primary-color);
}

/* Heading */
h2 {
  animation-duration: var(--animation-duration);
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}

/* Keyframes */
@keyframes clignoter {
  0% { opacity: 1; }
  40% { opacity: 0; }
  100% { opacity: 1; }
}

/* Number Button Container */
.number-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5pt;
}

/* Number Button */
.number-button {
  right: 20px;
  top: 10px;
  margin: 0 auto;
}