/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --font-family: 'Courier', monospace;
  --font-size: 12pt;
  --primary-color: chartreuse;
  --animation-duration: 3s;
}

/* Body */
body {
  margin: 0;
}

/* Button */
button {
  font-family: var(--font-family);
  font-size: var(--font-size);
  text-align: center;
  z-index: 1;
}

/* Overlay */
.div-overlay {
  width: 100%;
  position: fixed;
  bottom: 80px; /* Position un peu plus haut que le bouton Spin */
  text-align: center;
  z-index: 99;
}

/* Text Format */
.text-format {
  color: var(--primary-color);
  max-width: 80%; /* Limiter la largeur */
  margin: 0 auto; /* Centrer horizontalement */
  word-wrap: break-word; /* Permettre le retour à la ligne si nécessaire */
}

.settings-button, .refresh-button {
  position: fixed;
  bottom: 20px;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
  background: none;
  color: #007bff;
}

.settings-button:hover, .refresh-button:hover {
  color: #0056b3;
  border-color: #0056b3;
}

.settings-button {
  left: 20px;
}

.refresh-button {
  right: 20px;
}

/* Spin Button */
.spin-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

/* Hide spin button on larger screens */
@media (min-width: 768px) {
  .spin-button {
    display: none;
  }
}

/* Dialog */
dialog {
  border: none;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.slider-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.slider-item label {
  flex: 2;
  margin-right: 10px;
  text-align: left;
  white-space: nowrap;
}

.slider-item input[type="checkbox"] {
  margin-right: 10px;
}

.slider-item .slider {
  flex: 2;
  margin: 0 10px;
  min-width: 100px;
}

.slider-item span {
  flex: 1;
}

.slider.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

/* Bottom Slider */
.bottom-slider-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  z-index: 100;
}

.bottom-slider {
  width: 100%;
}

/* Right Slider */
.right-slider-container {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  height: 30%; /* Adjusted height for better visibility */
  z-index: 100;
}

.right-slider {
  width: 100%; /* Full width for vertical slider */
  height: 100%; /* Full height for vertical slider */
}
